.accueil{
    .accueil-container{
        .accueil-description{
             text-align: center;
            .first-text{
                 .first-text-background{
                     height: 300px;
                     background-image: url("../img/background/background-entreprise.png");
                     padding: 70px;
                     align-content: center;
                     padding-top: 120px;
                     .first-text-layer{
                         background-image: url("../img/background/texture-paper.png");
                         p{
                             color: white;
                         }
                     }
                 }
            }
            .second-text{
                padding: 0;
                margin: 0;
                 .second-text-background{
                     height: 500px;
                     background-image: url("../img/background/background-route.png");
                     padding: 70px;
                     align-content: center;
                     .second-text-layer{
                         background-image: url("../img/background/texture-paper.png");
                         p{
                             padding-top: 180px;
                             color: white;
                         }
                     }
                 }
            }
        }
    } 
 }