.thread-container{
    width: $col12;
    .card-container{
    margin-left: 200px;
    margin-top: 50px;
    width: $col8;
    display: flex;
    border: 1px solid black;
    overflow: hidden;
    .card-left{
        font-size: 40px;
        font-weight: bold;
        padding-top: 15px;
        width: $col2;
        text-align: center;
        text-decoration: underline;
    }
    .card-right{
        padding-left: 45px;
        width: $col10;
        .card-header{
            display: flex;
            .title{
                display: flex;
                width: $col4;
                padding-top: 25px;
                h3{
                    font-size: 30px;
                }
                span{
                    h3{
                        font-size: 20px;
                    }
                }
            }
            span{
                padding-top: 30px;
                padding-right: 10px;
                width: $col8;
                text-align: right;
            }
        }
        p{
            padding-top: 20px;
            padding-left: 20px;
            margin-top: 0;
            flex-wrap: wrap;
        }
        .btn-container{
            display: flex;
            .fa-trash{
                padding-left: 10px;
            }
        }
        .card-footer{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .comment-icon{
                width: $col8;
                img{
                    border: 1px solid black;
                }
            }
            h6{
                width: $col2;
            }
            img{
                width: $col2;
            }
        }
    }
    }
}