.card-container{
    margin-bottom: 50px;
    text-align: -webkit-center;
    .card{
        border: 1px solid black;
        background-color: rgb(224, 224, 224);
        border-radius: 10px;
        box-shadow: 5px 10px 15px 5px #A5A5A5;
        width: $col6;
        overflow: hidden;
        @include mobile-only{
            width: $col10;
        }
        .card-header{
            display: flex;
            @include mobile-only{
                display: block;
            }
            .pseudo{
                font-weight: bold;
                font-size: 30px;
                padding: 10px;
            }
            .title-date{
                padding: 5px 0 5px 20px;
                text-align: left;
                h3{
                    font-weight: normal;
                    font-size: 23px;
                }
                span{
                    color: rgb(66, 66, 66);
                }
            }
        }
        img{
            object-fit: cover;
            max-width: $col10;
            max-height: $col6;
        }
        p{
            padding: 0 50px;
        }
        .btn-container{
            text-align: right;
            display: flex;
            padding: 0 30px;
            justify-content: space-evenly;
        }
        .card-footer{
            display: flex;
            justify-content: space-around;
            padding: 0 30px;
            margin-bottom: 10px;
        }
    }
}