.comments-container{
    .comment-container{
        text-align: left;
        border-top: 1px dashed black;
        border-bottom: 1px dashed black;
        margin-bottom: 10px;
        .left-part{
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            p{
                margin: 15px 0;
                padding: 0;
            }
            span{
                margin: 15px 0;

            }
        }
        .right-part{
            .comment{
                p{
                   margin: 0 0 10px 0;
                }
                .edit-comment{
                    text-align: right;
                    padding-right: 5px;
                }
            }
        }
    }
    .comment-form{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}